@import "components/ui/_variables";

.layout-footer {
  background: linear-gradient(180deg, $black-color, $background-color);
  color: $white-color;
  border-top: 0.1px solid rgba($white-muted-color, 0.5);
  padding: 40px;
  @media screen and (max-width: $small-screen) {
    padding: 24px;
  }

  a {
    color: $white-color;
    text-decoration: none;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 20px;
      font-weight: bold;
      @media screen and (max-width: $small-screen) {
        font-size: 16px;
      }
    }
    i {
      border: 1px solid $primary-color;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      @media screen and (max-width: $small-screen) {
        width: 25px;
        height: 25px;
      }
      &:hover {
        font-size: 30px;
        transition: 0.3s font-size;
        @media screen and (max-width: $small-screen) {
          font-size: 25px;
        }
      }
    }
  }

  p {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 28px !important;
    @media screen and (max-width: $small-screen) {
      font-size: 14px;
    }
    i {
      color: $primary-color;
    }
    b {
      color: $primary-color;
    }
  }
}
